:root {
  --alpha: #9e6240;
  --beta: #dea47e;
  --gamma: #cd4631;
  --delta: #f8f2dc;
  --epsilon: #81adc8;

  --first: #f06543ff;
  --second: #e8e9ebff;
  --third: #e0dfd5ff;
  --fourth: #537d8dff;
  --fifth: #53917e;
  --sixth: #776885;
}

body {
  background-color: var(--epsilon);
  font-family: 'Inconsolata', 'Courier New', monospace;
}

ul {
  list-style-type: circle;
}

li {
  margin: 5px;
}

.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.header {
  color: var(--gamma);
  font-size: x-large;
}

.title {
  color: var(--gamma);
  font-size: x-large;
  font-weight: bold;
}

.title-right {
  float: right;
  color: var(--alpha);
  font-weight: normal;
}

.subtitle {
  color: var(--delta);
  font-size: large;
  font-weight: bold;
}

.patch {
  margin: 3em 0;
}

.list-item {
  margin-left: 1em;
}

.ability {
  margin-left: 1em;
  margin-bottom: 2em;
}

.ability-title {
  font-weight: bold;
}

.facet-title {
  text-transform: uppercase;
}

.ability .list-item {
  display: list-item;
  list-style-type: circle;
  margin-left: 1.5em;
}

.facet {
  border-left: solid;
  padding: 5px 20px 5px 20px;
  border-width: 5px;
  margin-bottom: 5px;
}

.section div:nth-child(1 of .facet) {
  background: linear-gradient(
    to right,
    var(--first) 50%,
    color-mix(in srgb, var(--first), transparent 30%)
  );
}

.section div:nth-child(2 of .facet) {
  background: linear-gradient(
    to right,
    var(--second) 50%,
    color-mix(in srgb, var(--second), transparent 30%)
  );
}

.section div:nth-child(3 of .facet) {
  background: linear-gradient(
    to right,
    var(--third) 50%,
    color-mix(in srgb, var(--third), transparent 30%)
  );
}

.section div:nth-child(4 of .facet) {
  background: linear-gradient(
    to right,
    var(--fourth) 50%,
    color-mix(in srgb, var(--fourth), transparent 30%)
  );
}

.section div:nth-child(5 of .facet) {
  background: linear-gradient(
    to right,
    var(--fifth) 50%,
    color-mix(in srgb, var(--fifth), transparent 30%)
  );
}

.section div:nth-child(6 of .facet) {
  background: linear-gradient(
    to right,
    var(--sixth) 50%,
    color-mix(in srgb, var(--sixth), transparent 30%)
  );
}
