:root {
  --alpha: #cb7a5c;
  --beta: #bbbbbb;
  --gamma: #ed3b1c;
  --delta: #fff;
  --epsilon: #151618;

  --first: #727cb2;
  --second: #9f3c3c;
  --third: #565c61;
  --fourth: #b57789;
  --fifth: #9c70a4;
  --sixth: #1c3143; /* Remove this, add separate section for innate ability */
}

body {
  background-color: var(--epsilon);
  font-family: 'Inconsolata', 'Courier New', monospace;
}

a {
  color: var(--gamma);
  text-decoration: inherit;
}

ul {
  list-style-type: circle;
}

li {
  margin: 5px;
}

.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.header {
  color: var(--gamma);
  font-size: x-large;
}

.title {
  color: var(--gamma);
  font-size: x-large;
  font-weight: bold;
}

.title-right {
  float: right;
  color: var(--beta);
  font-weight: normal;
}

.subtitle {
  color: var(--delta);
  font-size: x-large;
  font-weight: bold;
}

.patch {
  margin: 3em 0;
}

.list-item {
  color: var(--beta);
  margin-left: 1em;
  display: list-item;
  list-style-type: circle;
}

.ability {
  /* margin-left: 1em; */
  color: var(--delta);
  margin-bottom: 2em;
}

.ability-title {
  font-weight: bold;
}

.facet-title {
  color: var(--delta);
  font-weight: bold;
  text-transform: uppercase;
}

.ability .list-item {
  display: list-item;
  list-style-type: circle;
  /* margin-left: 1em; */
}

.facet {
  border-left: solid;
  padding: 5px 20px 5px 20px;
  border-width: 5px;
  margin-bottom: 5px;
}

.searchbox {
  &.solid-select-container {
    background-color: var(--delta);
  }
  .solid-select-control {
    border-color: var(--delta);
    &:focus-within {
      outline-color: var(--gamma);
    }
  }
  .solid-select-placeholder {
    color: var(--delta);
  }
  .solid-select-option {
    &:hover {
      background-color: var(--delta);
    }
    &[data-focused='true'] {
      background-color: var(--gamma);
      color: var(--delta);
    }
  }
}

.section div:nth-child(1 of .facet) {
  background: linear-gradient(
    to right,
    var(--first) 50%,
    color-mix(in srgb, var(--first), transparent 30%)
  );
}

.section div:nth-child(2 of .facet) {
  background: linear-gradient(
    to right,
    var(--second) 50%,
    color-mix(in srgb, var(--second), transparent 30%)
  );
}

.section div:nth-child(3 of .facet) {
  background: linear-gradient(
    to right,
    var(--third) 50%,
    color-mix(in srgb, var(--third), transparent 30%)
  );
}

.section div:nth-child(4 of .facet) {
  background: linear-gradient(
    to right,
    var(--fourth) 50%,
    color-mix(in srgb, var(--fourth), transparent 30%)
  );
}

.section div:nth-child(5 of .facet) {
  background: linear-gradient(
    to right,
    var(--fifth) 50%,
    color-mix(in srgb, var(--fifth), transparent 30%)
  );
}

.section div:nth-child(6 of .facet) {
  background: linear-gradient(
    to right,
    var(--sixth) 50%,
    color-mix(in srgb, var(--sixth), transparent 30%)
  );
}
